:root {
  --bg-color: hsl(0, 2%, 83%);
  --txt-color: hsl(180, 87%, 12%);
  --odd-color: hsl(240, 0.6%, 30.8%);
  --even-color: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  padding: 0 10px 10px 10px;
}

li {
  list-style: none;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 10px;
  margin: 50px 0 30px 0;
}

.book-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--even-color);
}

.book-container:nth-child(odd) {
  color: white;
  background-color: var(--odd-color);
}

.book-container button,
.add-btn {
  color: rgb(4, 4, 4);
  padding: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
}

/* NAVIGATION */
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.8rem 0 0.8rem 1.5rem;
}

.logo {
  cursor: pointer;
}

.menu {
  text-align: center;
}

.menu a {
  margin-right: 2rem;
  border-right: 2px solid black;
  padding-right: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.menu a:nth-child(3) {
  border-right: 0px;
  padding-right: 0px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  margin: 50px 0 30px 0;
}

.contact-details {
  margin: 30px 0 70px 0;
}

#copyright {
  background: white;
  padding: 0.8rem 0 0.8rem 1.5rem;
}

@media (min-width: 768px) {
  .book-container button {
    padding: 4px;
  }
}

hr {
  margin-block: 23px;
  width: 50%;
  margin-inline: auto;
}

.space-inputs {
  width: 100%;
  padding: 10px 4px;
  font-size: 14.5px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.space-inputs:focus {
  border: thin solid green;
  outline: none;
}

form {
  margin-block: 8px;
  margin-inline: 10%;
}

.add-btn {
  display: block;
  margin-left: auto;
  padding: 6px 20px;
  font-size: 16px;
}
